# Scripts do not load this file automatically. Export values explicitly.
PETCAM_BASE=http://192.0.2.10:9101
PETCAM_TARGET=http://192.0.2.10:9101/frame
PETCAM_STATE=http://192.0.2.10:9101/state
PETCAM_LATEST=http://192.0.2.10:9101/latest.jpg
PETCAM_CONTROL=http://192.0.2.10:9101/control
PETCAM_CLIENT=http://192.0.2.10:9101/client
PETCAM_PLACEHOLDER_IP=192.0.2.10
